@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #02735E, #038C3E);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1f4630a6;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #034159;
    text-align: center;
    text-shadow: 1px 1px 2px #022f41a8;
}

h2 {
    color: #025951;
}

p {
    text-align: justify;
}